.create-agent-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 65px 1fr;
    grid-template-areas: "title title" "alert alert" "image inputs";
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 3px solid black;
}

.inputs-container {
    grid-area: inputs;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "first" "last" "button-group";
    width: 90%;
}

.title-container {
    grid-area: title;
    padding: 8px 4px 0 10px;
    background-color: #00418E;
}

.alert-container {
    grid-area: alert;
}

.image-container {
    grid-area: image;
    object-fit: cover;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.button-group {
    grid-area: button-group;
}

.image-container img {
    height: 280px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.title-container h1 {
    font-size: 64px;
    color: white;
}

.btn-primary {
    grid-area: register;
    width: 100%;
    margin-left: auto;
    margin-top: 10px;
}

.btn-secondary {
    grid-area: return;
    width: 100%;
    margin-left: auto;
}

.first-name {
    grid-area: first;
    margin-bottom: 20px;
}

.last-name {
    grid-area: last;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
}